<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwEK4kCKopyKiXd3t2-ND_rD2GQpV5ffA</string>
	<key>GCM_SENDER_ID</key>
	<string>1092063602645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcmApp</string>
	<key>PROJECT_ID</key>
	<string>fcm-app-59bcc</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-app-59bcc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092063602645:ios:cdfda581ee6ffbd5df7f5c</string>
</dict>
</plist>